@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
*::before, *::after {
    box-sizing: border-box;
}

html {
    font: 24px/1.5em "Inter";
}
img {
    width: 100%;
    height: auto;
    display: block;

}

body {
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site {
    width: 240px;
    aspect-ratio: 1/1;
    vertical-align:middle;
    overflow: hidden;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    
}

.image3 {
    width: 140px;
    aspect-ratio: 1/1;
    vertical-align:middle;
    overflow: hidden;
    height: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.conteiner {
    display: flex;
    gap: 50px;
    border: 1px solid #000;
    max-width: 1620px;
}

.coment {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    
}

.first, .second {
    display: flex;
    background-color: #fff;
    padding: 60px 140px;
    min-width: 1050px;
    

}

.third {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-grow: 1;

}

.persons {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
