* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
*::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1.5em;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 1.875em;
  }
  
  p, blockquote, span {
    font-size: 0.875em;
  }

body {
    background-color: rgb(238, 238, 238);
    margin: 1em 4em 4em 4em;
    font-family:  sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

header {
    flex: 0 0 100%
}

main {
    flex: 0 0 60%
}

aside {
    margin-left: 8em;
    flex: 1 0 auto
}

header {
    padding-bottom: 0.4em;
}

header.header {
    display: flex;
    border-bottom: 2px solid #000;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 2em;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header li {
    display: inline;
}

a {
    text-decoration: none;
    color: green;
}

header p {
    font-size: 2em;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
}

main article header {
    padding-top: 0em;
    padding-bottom: 1em;
}

div.second-image {
    display: flex;
    width: 150px;
    height: 200px;
    border: 2px solid #000;
    float: right;
    background-color: white;
}

img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
    padding: 8px;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 1);
}

p {
    padding: 1em 0;
}

blockquote {
    padding: 2em 0 3em 3em;
    border-left: 2px solid #000;
    opacity: 0.5;
    margin-left: 2em;
  
}

blockquote span {
    padding-top: 1em;
    display: flex;
    justify-content: end;
}

article.blockquote section.block blockquote {
    max-width: 50%;
    font-style: italic;
    float: right;
}

div.first-image {
    display: flex;
    width: 200px;
    height: 150px;
    border: 2px solid #000;
    float: left;
    margin-right: 1em;
    background-color: white;
}

/* aside ul li {
    list-style-type: none;
} */

aside ul {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

aside h3 {
    margin: 0 0 1em -1.5em;
}

aside section.social h3 {
    margin-top: 1em;

}

aside a {
    color: green;
}