* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
}

header p, header ul {
    display: inline-block;
}

header ul li {
    display: inline-block;
    padding: 0 1em;
}

header ul li a {
    text-decoration: none;
}

header ul {
    position: absolute;
    top: 0;
    right: 0;
}

.image {
    width: 150px;
    height: auto;
    border: 1px solid #000;
}

main img {
    display: block;
    padding: 0.5em;
    width: 100%;
    height: auto;
    float: right top;
}
