* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

div {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 15vw;
    max-height: 35rem;
    gap: 0.5em;
    flex-direction: column;
    margin: 2em;
    
}

span {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5em;
    height: 2.5em;
    
}

.H {
    order: 9;
}
.e {
    order: 2;
}
.T {
    order: 10;
}
.a {
    order: 4;
}
.c {
    order: 8;
}
.i {
    order: 7;
}
.M {
    order: 11;
}
.n {
    order: 5;
}
.t {
    order: 6;
}
.L {
    order: 12;
}
.S {
    order: 1;
}
.m {
    order: 3;
}