* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 3em;
}

.verticalLine {
    border-left: 4px solid rgb(221,221,221);
    padding: 5px 30px 60px;
    font-style: italic;
  }

footer.name {
    text-align: end;
}

th {
    background-color: lightblue;
}

th, td {
    width:  144px;
    height: 32px;
    border: 1px solid #ccc;
    padding-left: 5px;
}